In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import concat, substring, when, countDistinct, col, avg
spark = SparkSession.builder.appName("pyspark_sql").getOrCreate()

print(f'Import "file.csv" into PySpark DataFrame')
df = spark.read.csv("file.csv", header=True, inferSchema=True)

print("Concatenating Name and Age columns:")
df.select(concat("name", "age").alias("Name_Age")).show()

print("Extracting the first letter from the City column:")
df.select(substring("city", 1, 1).alias("First Letter")).show()

print("Performing conditional logic on Age column:")
df.select("name", "city", when(df["age"] < 30, "Young").otherwise("Old").alias("Age Group")).show()

print("Counting the number of distinct colors in the Favorite Color column:")
df.select(countDistinct("city").alias("Distinct Cities")).show()

print("Selecting the Name column:")
df.select(col("name")).show()

print("Calculating the average age:")
df.agg(avg(col("age")).alias("Average Age")).show()

print("Calculating the average age by city:")
df.groupBy("city").agg(avg("age").alias("Average Age by city")).show()

24/10/01 15:56:47 WARN Utils: Your hostname, LAP-0285 resolves to a loopback address: 127.0.1.1; using 192.168.0.105 instead (on interface wlp0s20f3)
24/10/01 15:56:47 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/10/01 15:56:47 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/10/01 15:56:48 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

Import "file.csv" into PySpark DataFrame
Concatenating Name and Age columns:
+-------------------+
|           Name_Age|
+-------------------+
|     Keeley Bosco22|
| Dr. Araceli Lang34|
|    Terrell Boyle36|
|Alessandro Barton21|
|      Keven Purdy33|
|   Jocelyn Abbott27|
|       John Smith41|
|  Samantha Garcia29|
|      Jackie Chan56|
|       Emma Stone32|
+-------------------+

Extracting the first letter from the City column:
+------------+
|First Letter|
+------------+
|           L|
|           Y|
|           P|
|           S|
|           P|
|           N|
|           S|
|           L|
|           B|
|           L|
+------------+

Performing conditional logic on Age column:
+-----------------+--------------------+---------+
|             name|                city|Age Group|
+-----------------+--------------------+---------+
|     Keeley Bosco|     Lake Gladysberg|    Young|
| Dr. Araceli Lang|         Yvettemouth|      Old|
|    Terrell Boyle|     Port Reaganfort|      Old|
|Alessandro Barton|         South Pearl|    Young|
|      Keven Purdy|Port Marjolaineshire|      Old|
|   Jocelyn Abbott|            New York|    Young|
|       John Smith|       San Francisco|      Old|
|  Samantha Garcia|         Los Angeles|    Young|
|      Jackie Chan|             Beijing|      Old|
|       Emma Stone|         Los Angeles|      Old|
+-----------------+--------------------+---------+

Counting the number of distinct colors in the Favorite Color column:
+---------------+
|Distinct Cities|
+---------------+
|              9|
+---------------+

Selecting the Name column:
+-----------------+
|             name|
+-----------------+
|     Keeley Bosco|
| Dr. Araceli Lang|
|    Terrell Boyle|
|Alessandro Barton|
|      Keven Purdy|
|   Jocelyn Abbott|
|       John Smith|
|  Samantha Garcia|
|      Jackie Chan|
|       Emma Stone|
+-----------------+

Calculating the average age:
+-----------+
|Average Age|
+-----------+
|       33.1|
+-----------+

Calculating the average age by city:
+--------------------+-------------------+
|                city|Average Age by city|
+--------------------+-------------------+
|     Lake Gladysberg|               22.0|
|             Beijing|               56.0|
|         Los Angeles|               30.5|
|       San Francisco|               41.0|
|         Yvettemouth|               34.0|
|Port Marjolaineshire|               33.0|
|         South Pearl|               21.0|
|     Port Reaganfort|               36.0|
|            New York|               27.0|
+--------------------+-------------------+

# User-defined functions (UDFs)

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType
spark = SparkSession.builder.getOrCreate()

print(f'Import "file.csv" into PySpark DataFrame')
df = spark.read.csv("file.csv", header=True, inferSchema=True)

print("Define a Python function")
def capitalize_string(s):
    return s.upper()

print("Register the UDF")
capitalize_udf = udf(capitalize_string, StringType())

print("Apply the registered UDF to a column in the DataFrame")
df = df.withColumn("Capitalized City", capitalize_udf(df["city"]))

print("Display the final results of the DataFrame")
df.show()

Import "file.csv" into PySpark DataFrame
Define a Python function
Register the UDF
Apply the registered UDF to a column in the DataFrame
Display the final results of the DataFrame
+---+-----------------+--------------------+--------------------+---+--------------------+
| id|             name|               email|                city|age|    Capitalized City|
+---+-----------------+--------------------+--------------------+---+--------------------+
|  1|     Keeley Bosco|katlyn@jenkinsmag...|     Lake Gladysberg| 22|     LAKE GLADYSBERG|
|  2| Dr. Araceli Lang|mavis_lehner@jaco...|         Yvettemouth| 34|         YVETTEMOUTH|
|  3|    Terrell Boyle|augustine.conroy@...|     Port Reaganfort| 36|     PORT REAGANFORT|
|  4|Alessandro Barton|sigurd.hudson@hod...|         South Pearl| 21|         SOUTH PEARL|
|  5|      Keven Purdy|carter_zboncak@sc...|Port Marjolaineshire| 33|PORT MARJOLAINESHIRE|
|  6|   Jocelyn Abbott|jocelyn.abbott@gm...|            New York| 27|            NEW YORK|
|  7|       John Smith|john.smith@hotmai...|       San Francisco| 41|       SAN FRANCISCO|
|  8|  Samantha Garcia|samantha.garcia@g...|         Los Angeles| 29|         LOS ANGELES|
|  9|      Jackie Chan|jackie.chan@yahoo...|             Beijing| 56|             BEIJING|
| 10|       Emma Stone|emma.stone@gmail.com|         Los Angeles| 32|         LOS ANGELES|
+---+-----------------+--------------------+--------------------+---+--------------------+

# Running SQL queries programmatically in PySpark

In [3]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType
spark = SparkSession.builder.getOrCreate()

print(f'Import "file.csv" into PySpark DataFrame')
df = spark.read.csv("file.csv", header=True, inferSchema=True)

print("Define a Python function")
def capitalize_string(s):
    return s.upper()

print("Register the UDF")
capitalize_udf = udf(capitalize_string, StringType())

print("Apply the registered UDF to a column in the DataFrame")
df = df.withColumn("Capitalized City", capitalize_udf(df["city"]))

print("Display the final results of the DataFrame")
df.show()

Import "file.csv" into PySpark DataFrame
Define a Python function
Register the UDF
Apply the registered UDF to a column in the DataFrame
Display the final results of the DataFrame
+---+-----------------+--------------------+--------------------+---+--------------------+
| id|             name|               email|                city|age|    Capitalized City|
+---+-----------------+--------------------+--------------------+---+--------------------+
|  1|     Keeley Bosco|katlyn@jenkinsmag...|     Lake Gladysberg| 22|     LAKE GLADYSBERG|
|  2| Dr. Araceli Lang|mavis_lehner@jaco...|         Yvettemouth| 34|         YVETTEMOUTH|
|  3|    Terrell Boyle|augustine.conroy@...|     Port Reaganfort| 36|     PORT REAGANFORT|
|  4|Alessandro Barton|sigurd.hudson@hod...|         South Pearl| 21|         SOUTH PEARL|
|  5|      Keven Purdy|carter_zboncak@sc...|Port Marjolaineshire| 33|PORT MARJOLAINESHIRE|
|  6|   Jocelyn Abbott|jocelyn.abbott@gm...|            New York| 27|            NEW YORK|
|  7|       John Smith|john.smith@hotmai...|       San Francisco| 41|       SAN FRANCISCO|
|  8|  Samantha Garcia|samantha.garcia@g...|         Los Angeles| 29|         LOS ANGELES|
|  9|      Jackie Chan|jackie.chan@yahoo...|             Beijing| 56|             BEIJING|
| 10|       Emma Stone|emma.stone@gmail.com|         Los Angeles| 32|         LOS ANGELES|
+---+-----------------+--------------------+--------------------+---+--------------------+

# Exploratory data analysis (EDA)

In [4]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("DataFrameActions").getOrCreate()

print(f'Import "file.csv" into PySpark DataFrame')
df = spark.read.csv("file.csv", header=True, inferSchema=True)

print("Create a Global Temporary View")
df.createGlobalTempView("people")

print("Select city column from the temp view")
sqlDF = spark.sql("SELECT city FROM global_temp.people")

print("Display the contents")
sqlDF.show()

Import "file.csv" into PySpark DataFrame
Create a Global Temporary View
Select city column from the temp view
Display the contents
+--------------------+
|                city|
+--------------------+
|     Lake Gladysberg|
|         Yvettemouth|
|     Port Reaganfort|
|         South Pearl|
|Port Marjolaineshire|
|            New York|
|       San Francisco|
|         Los Angeles|
|             Beijing|
|         Los Angeles|
+--------------------+

In [6]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("pyspark_sql").getOrCreate()

print(f'Import "obesity.csv" into PySpark DataFrame')
df = spark.read.csv("obesity.csv", header=True, inferSchema=True)

print("Create a Temporary View")
df.createOrReplaceTempView("people")

print("Select and display the first 5 rows and all columns from the temp view")
spark.sql("SELECT * FROM people").show(5)

print("Count the total number of rows in the DataFrame")
total_counts = spark.sql("SELECT COUNT(*) FROM people").first()[0]
print(f'Total counts: {total_counts}')

print("Select and display all data points related to people with obesity")
spark.sql("SELECT * FROM people WHERE Label = 'Obese'").show()

print("Group people by label and display them the results")
spark.sql("SELECT Label, COUNT(*) AS count FROM people GROUP BY Label").show()

Import "obesity.csv" into PySpark DataFrame
Create a Temporary View
Select and display the first 5 rows and all columns from the temp view
+---+---+------+------+------+----+-------------+
| ID|Age|Gender|Height|Weight| BMI|        Label|
+---+---+------+------+------+----+-------------+
|  1| 25|  Male|   175|    80|25.3|Normal Weight|
|  2| 30|Female|   160|    60|22.5|Normal Weight|
|  3| 35|  Male|   180|    90|27.3|   Overweight|
|  4| 40|Female|   150|    50|20.0|  Underweight|
|  5| 45|  Male|   190|   100|31.2|        Obese|
+---+---+------+------+------+----+-------------+
only showing top 5 rows

Count the total number of rows in the DataFrame
Total counts: 19
Select and display all data points related to people with obesity
+---+---+------+------+------+----+-----+
| ID|Age|Gender|Height|Weight| BMI|Label|
+---+---+------+------+------+----+-----+
|  5| 45|  Male|   190|   100|31.2|Obese|
|  7| 55|  Male|   200|   110|34.2|Obese|
|  9| 65|  Male|   210|   120|37.2|Obese|
| 17| 48|  Male|   200|   100|31.2|Obese|
| 20| 58|  Male|   210|   110|34.2|Obese|
+---+---+------+------+------+----+-----+

Group people by label and display them the results
+-------------+-----+
|        Label|count|
+-------------+-----+
|Normal Weight|    5|
|   Overweight|    2|
|  Underweight|    7|
|        Obese|    5|
+-------------+-----+

# Data profiling and summary statistics

In [7]:
import pandas as pd
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("pyspark_sql").getOrCreate()

print(f'Import "obesity.csv" into PySpark DataFrame')
df = spark.read.csv("obesity.csv", header=True, inferSchema=True)

print("Create a Temporary View")
df.createOrReplaceTempView("people")

print("Create a variable to capture column names")
columns = df.columns

print("Create an empty dictionary")
distinct_counts = {}

print("Iterate over each column in the DataFrame")
for column in columns:
    query = f"SELECT COUNT(DISTINCT `{column}`) FROM people"
    distinct_count = spark.sql(query).collect()[0][0]
    distinct_counts[column] = distinct_count
if distinct_counts:
    pandas_df = pd.DataFrame.from_dict(distinct_counts, orient="index", columns=["Distinct Count"])
    pandas_df.index.name = "Column"
    pandas_df.reset_index(inplace=True)
    print(pandas_df)
else:
    print("No distinct counts found")

Import "obesity.csv" into PySpark DataFrame
Create a Temporary View
Create a variable to capture column names
Create an empty dictionary
Iterate over each column in the DataFrame
   Column  Distinct Count
0      ID              19
1     Age              19
2  Gender               2
3  Height              10
4  Weight              11
5     BMI              11
6   Label               4

# Summary statistics

In [8]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("pyspark_sql").getOrCreate()

print(f'Import "obesity.csv" into PySpark DataFrame')
df = spark.read.csv("obesity.csv", header=True, inferSchema=True)

print("Create a Temporary View")
df.createOrReplaceTempView("people")

print("Create a list containing new column names")
numerical_columns = ["age", "weight", "height"]

print("Create a SQL query")
sql_query = f"SELECT 'summary' AS summary, {', '.join([f'min({column}), max({column}), avg({column})' for column in numerical_columns])} FROM people"

print("Convert the output to Pandas")
summary_stats = spark.sql(sql_query).toPandas()

print("Summary stats")
print(summary_stats)

Import "obesity.csv" into PySpark DataFrame
Create a Temporary View
Create a list containing new column names
Create a SQL query
Convert the output to Pandas
Summary stats
   summary  min(age)  max(age)  avg(age)  min(weight)  max(weight)  \
0  summary        18        70      43.0           20          120

   avg(weight)  min(height)  max(height)  avg(height)
0    71.052632          120          210   167.894737

In [9]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("pyspark_sql").getOrCreate()

print(f'Import "obesity.csv" into PySpark DataFrame')
df = spark.read.csv("obesity.csv", header=True, inferSchema=True)

print("Create a Temporary View")
df.createOrReplaceTempView("people")

print("Create a list containng new column names")
categorical_columns = ["gender", "label"]

print("Iterate over columns and create ")
for column in categorical_columns:
    query = f"SELECT {column}, COUNT(*) AS count FROM people GROUP BY {column}"
    category_counts = spark.sql(query).collect()
    print(f"Category counts for {column}:")
    for row in category_counts:
        print(row[column], row["count"])

Import "obesity.csv" into PySpark DataFrame
Create a Temporary View
Create a list containng new column names
Iterate over columns and create
Category counts for gender:
Female 9
Male 10
Category counts for label:
Normal Weight 5
Overweight 2
Underweight 7
Obese 5